body {

  background-color: #567c8d;
  text-align: center;
  margin: 200px auto;
  padding: 20px auto;
  max-width: 1000px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 95px;
  color: #002f44;
  margin-bottom: 20px;
  margin: 20px auto;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;
  color: #004b6e;
  margin-bottom: 20px;
}
p {
  font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  color: #ece6d4;
  line-height: 1.8;
  margin: 50px auto;
}
